<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/1.css">
</head>
<body>
    <div id="articleContent">
        <div id="articleTitle"><%= data[0].titleArticle %></div>
        <p id="articleText">
            <%= data[0].textArticle %>
        </p>
    <p><a href="http://localhost:3000/article/">Вернуться к списку статей</a></p>
</body>
</html>