<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/1.css">
</head>
<body>
    <% data.forEach(function(item) { %>
    <p id="articlesTitle"><a href='http://localhost:3000/article/<%= item.idArticle %>'><%= item.titleArticle %> </a> </p>
    <p id="articlesDescription">
        <%= item.descriptionArticle %>
    </p>
    <% }); %>
</body>
</html>