<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/1.css">
</head>
<body>

<%= data[0].titleArticle %>
<p>
    <%= data[0].textArticle %>
</body>
</html>