<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/1.css">
    <title><%= news.titleNews %></title>
</head>
<body>
    <h1 id="newsDTitle"><%= news.titleNews %></h1>
    <p id="newsText"><%= news.textNews %></p>
    <p><a href="/news">Вернуться к списку новостей</a></p>
</body>
</html>
